.installButton {
	font-family: var(--paws-font-primary);
	border: none;
	color: var(--paws-color-accent-secondary);
	height: 32px;
	min-width: 120px;
	padding: 0 18px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-weight: var(--paws-font-weight-normal);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	overflow: hidden;
	background-color: var(--paws-color-accent-primary);
	user-select: none;
}

.installButton:hover:not(.working) {
	filter: brightness(1.05);
}

.installButton.working {
	background-color: var(--paws-color-accent-subprimary);
	cursor: default;
}

.progressBar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: var(--paws-color-accent-secondary);
	width: 0%;
	transition: width 0.2s linear;
	z-index: 1;
	opacity: 1;
}

.label {
	position: relative;
	z-index: 2;
	transition: color 0.2s;
}

.installButton.working .label {
	color: var(--paws-color-accent-secondary);
}

.installButton.working .progressBar {
	opacity: 0.2;
}
