.paws--dark-theme {
	/* Colors */
	--paws-color-accent-primary: #ffa4c1;
	--paws-color-accent-subprimary: #3d1b24;
	--paws-color-accent-secondary: #ffd1df;
	--paws-color-accent-primary-hover: #e790ac;
	--paws-color-accent-subprimary-hover: #4d232e;

	--paws-color-inactive-primary: #4a4a4a;
	--paws-color-inactive-sub: #2a2a2a;
	--paws-color-inactive-secondary: #aaaaaa;
	--paws-color-inactive-primary-hover: #555555;
	--paws-color-inactive-sub-hover: #333333;

	--paws-color-text-primary: #ffffff;
	--paws-color-text-secondary: #b0b0b0;

	--paws-color-bg-primary: #121212;
	--paws-color-bg-subprimary: #1a1a1a;
	--paws-color-bg-secondary: #1e1e1e;
	--paws-color-bg-translucent: rgba(255, 255, 255, 0.05);
	--paws-color-bg-tertiary: #2c2c2c;
	--paws-color-bg-titlebar: #1e1e1e;

	--paws-color-interactive-primary: #2a2a2a;
	--paws-color-interactive-secondary: #3a3a3a;

	--paws-color-success: #6ec071;
	--paws-color-warning: #fcd45e;
	--paws-color-error: #f56f66;

	/* Rounding */
	--paws-rounding-normal: 8px;
	--paws-rounding-normal-inner: 6px;
	--paws-rounding-medium: 12px;
	--paws-rounding-medium-inner: 9px;
	--paws-rounding-big: 16px;

	/* Fonts */
	--paws-font-primary: "Wix Madefor Display", system-ui, sans-serif;
}
