.pawsButton {
	font-family: var(--paws-font-primary);
	border: none;
	color: var(--paws-color-accent-secondary);
	height: 32px;
	padding: 0 18px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-weight: var(--paws-font-weight-normal);
	cursor: pointer;
	transition: filter 0.2s;

	&:hover {
		filter: brightness(1.05);
	}

	&.primary {
		background-color: var(--paws-color-accent-primary);
	}

	&.secondary {
		background-color: var(--paws-color-accent-subprimary);
	}

	&.small {
		height: 24px;
		font-size: 13px;
		font-weight: var(--paws-font-weight-normal);
		padding: 0 10px;
		border-radius: 6px;
	}
}
