.pawsColorPickerButton {
	width: 32px;
	height: 32px;
	border: 0 solid var(--paws-color-picker-button--active-color);
	border-radius: 10px;
	background-color: var(--paws-color-picker-button--color);
	transition: 100ms border-width ease-out;
}

.active {
	border-width: 2px;
}
