.progressbar {
	width: 100%;
	height: 32px;
	border-radius: var(--paws-rounding-medium);
	background-color: var(--paws-color-bg-subprimary);
	overflow: hidden;
}

.fill {
	height: 100%;
	background-color: var(--paws-color-accent-secondary);
	transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
