.pluginShell {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
	color: var(--paws-color-text-primary);
	font-family: var(--paws-font-primary);
	background-color: transparent;
}

.padded {
	padding: 32px;
}
