.pawsMenuButton {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	min-width: 32px;
	padding: 0 12px;
	border-radius: var(--paws-rounding-medium);
	border: none;
	cursor: pointer;
	transition: all 0.2s ease;
	font-family: var(--paws-font-primary);
	font-weight: 550;
	font-size: 16px;
	color: var(--paws-color-inactive-secondary);
	gap: 8px;
	user-select: none;
	background: var(--paws-color-bg-tertiary);
}

.pawsMenuButton:hover:not(:disabled) {
	background: var(--paws-color-inactive-sub-hover);
}

.pawsMenuButton:active:not(:disabled),
.pawsMenuButton.active {
	background: var(--paws-color-accent-subprimary);
	color: var(--paws-color-accent-secondary);
}

.pawsMenuButton.active:hover:not(:disabled) {
	background: var(--paws-color-accent-subprimary-hover);
}

.pawsMenuButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.label {
	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
