.pawsCheckbox {
	position: relative;
	display: inline-flex;
	align-items: center;
	height: 24px;
	border-radius: var(--paws-rounding-normal);
	background-color: transparent;
	cursor: pointer;
	user-select: none;
	transition: all 0.2s ease;
	overflow: hidden;
	font-family: var(--paws-font-primary);
	font-weight: 550;
	font-size: 13px;
	color: var(--paws-color-inactive-secondary);
	padding-right: 10px;
	z-index: 1;
}

.pawsCheckbox::before {
	content: "";
	position: absolute;
	top: 0;
	left: 12px;
	right: 0;
	bottom: 0;
	background-color: var(--paws-color-inactive-sub);
	z-index: -1;
	transition: background-color 0.2s ease;
}

.pawsCheckbox:hover:not(.disabled)::before {
	background-color: var(--paws-color-inactive-sub-hover);
}

.pawsCheckbox.checked {
	color: var(--paws-color-accent-secondary);
}

.pawsCheckbox.checked::before {
	background-color: var(--paws-color-accent-subprimary);
}

.pawsCheckbox.checked:hover:not(.disabled)::before {
	background-color: var(--paws-color-accent-subprimary-hover);
}

.input {
	display: none;
}

.square {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	border-radius: var(--paws-rounding-normal);
	background-color: var(--paws-color-inactive-primary);
	transition: all 0.2s ease;
}

.checked .square {
	background-color: var(--paws-color-accent-primary);
}

.label {
	padding-left: 10px; /* 10px from the square */
	white-space: nowrap;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
