.pawsCheckbox {
	font-family: var(--paws-font-family);
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
	gap: 10px;
}

.input {
	display: none;
}

.checkbox {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 6px;
	background-color: var(--paws-color-bg-disabled);
	transition: background-color 0.2s;
}

.input:checked + .checkbox {
	background-color: var(--paws-color-accent-primary);
}

.label {
	font-weight: 600;
	color: var(--paws-color-text-primary);
	position: relative;
}

.labelFontSizeXs {
	font-size: 11px;
}

.labelFontSizeSm {
	font-size: 12px;
}

.labelFontSizeMd {
	font-size: 14px;
}

.labelFontSizeLg {
	font-size: 16px;
}

.labelFontSizeXl {
	font-size: 20px;
}
