.dropdownWrapper {
	position: relative;
	display: inline-flex;
	align-items: center;
	background-color: var(--paws-color-interactive-primary);
	border-radius: var(--paws-rounding-medium);
	transition: background-color 0.2s ease;
	box-sizing: border-box;
	height: 32px;
	padding: 3px;
	cursor: pointer;
	user-select: none;
	overflow: visible; /* To allow shadow of the list to show correctly */
}

.dropdownWrapper:hover:not(.disabled) {
	background-color: var(--paws-color-inactive-sub-hover);
}

.dropdownWrapper.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.dropdownButton {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: transparent;
	border: none;
	color: var(--paws-color-text-primary);
	font-family: var(--paws-font-primary);
	font-size: 14px;
	font-weight: var(--paws-font-weight-light);
	cursor: pointer;
}

.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--paws-color-interactive-secondary);
	border-radius: var(--paws-rounding-medium-inner);
	height: 26px;
	margin-left: 0;
	padding: 0 10px;
	flex-shrink: 0;
}

/* Internal icon size inside the iconWrapper slot */
.iconWrapper :global(svg) {
	width: 20px;
	height: 20px;
}

.selectedOption {
	flex-grow: 1;
	text-align: left;
	padding: 0 9px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* If there is no icon slot, the text should have padding from the left edge */
.dropdownButton:not(:has(.iconWrapper)) .selectedOption {
	padding-left: 10px;
}

.arrow {
	width: 20px;
	height: 20px;
	margin-right: 4px;
	flex-shrink: 0;
	transition: transform 0.2s ease-in-out;
}

.rotate {
	transform: rotate(-90deg);
}

.optionsWrapper {
	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	right: 0;
	background-color: var(--paws-color-bg-secondary);
	border: 1px solid var(--paws-color-interactive-primary);
	border-radius: 8px;
	z-index: 9999;
	overflow-y: auto;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	transition:
		max-height 0.2s ease,
		opacity 0.2s ease,
		visibility 0.2s;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.optionsWrapper.open {
	max-height: 200px;
	opacity: 1;
	visibility: visible;
}

.option {
	display: flex;
	align-items: center;
	height: 32px;
	padding: 0 12px;
	cursor: pointer;
	font-family: var(--paws-font-primary);
	font-size: 14px;
	font-weight: var(--paws-font-weight-light);
	transition: background-color 0.15s ease;
	color: var(--paws-color-text-primary);
}

.option:hover {
	background-color: var(--paws-color-bg-primary);
}

.labelText {
	font-size: 14px;
	font-weight: var(--paws-font-weight-normal);
	margin-left: 0;
	white-space: nowrap;
}

.iconWrapper :global(svg) + .labelText {
	margin-left: 6px;
}
