.heading {
	font-family: var(--paws-font-primary);
	font-weight: var(--paws-heading--font-weight);
	color: var(--paws-color-text-primary);
	margin: 0;
}

.sizeSm {
	font-size: 16px;
}

.sizeLg {
	font-size: 24px;
}

.sizeXl {
	font-size: 28px;
}

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}
