.card {
	padding: 2px 16px 24px;
	border-radius: 16px;
	align-self: flex-start;
}

.cardTitle {
	font-weight: var(--paws-font-weight-medium);
	font-size: 28px;
}

.cardContent {
	margin-top: 6px;
}

.cardContentNoHeading {
	margin-top: 22px;
}

.appearanceDark {
	background-color: var(--paws-color-bg-secondary);
}

.appearanceLight {
	background-color: var(--paws-color-bg-primary);
}
